body {
    font-family: 'Clear Sans', sans-serif;
    color: #5E4AE3;
    margin: 0;
    padding: 0;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    min-height: 100vh;
}
